@using PagedList
@using PagedList.Mvc
@model Tuple<IPagedList<emlakkkk.Models.posts>,List<emlakkkk.Models.products>, List<emlakkkk.Models.images>>
@using emlakkkk.Helper
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .uzun {
        height: 211px; /* Gösterilecek Uzunluk */
        overflow: hidden; /* taşanları gizle */
        white-space: unset; /* alt satıra inme */
        text-overflow: ellipsis; /* eğer uzunsa üç nokta koy */
    }
</style>
<!-- Main Blog Post Content -->
<section class="blog_post_container bgc-f7">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="breadcrumb_content style2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                        <li class="breadcrumb-item active text-thm" aria-current="page">Blog</li>
                    </ol>
                    <h2 class="breadcrumb_title">Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_post_content">
                    @foreach (var item in Model.Item1)
                    {
                        <div class="for_blog feat_property">
                            <div class="thumb">
                                <img class="img-whp" style="max-height:399px;max-width:728px"  src="~/Content/uploads/images/@item.postImage" alt="@item.postTitle">
                            </div>
                            <div class="details">
                                <div class="tc_content uzun" style="max-height:230px">
                                    <h4 class="mb15">@item.postTitle</h4>
                                    <p>
                                        @Html.Raw(item.postContent)
                                    </p>
                                </div>
                                <div class="fp_footer">
                                    <ul class="fp_meta float-left mb0">
                                        <li class="list-inline-item"><a href="@Url.Action("MemberSingle","Home", new {ad = @Url.FriendlyURLTitle(item.users.name), soyad = @Url.FriendlyURLTitle(item.users.surname), id = @item.users.userId})"><img style="width:45;height:45px;border-radius:50px 50px" src="~/Content/uploads/avatar/@(@item.users.avatarSource != null ? item.users.avatarSource : "User-01.png")" alt=">@item.users.name @item.users.surname"></a></li>
                                        <li class="list-inline-item"><a href="@Url.Action("MemberSingle","Home", new {ad = @Url.FriendlyURLTitle(item.users.name), soyad = @Url.FriendlyURLTitle(item.users.surname), id = @item.users.userId})">@item.users.name @item.users.surname</a></li>
                                        <li class="list-inline-item"><a href="@Url.Action("MemberSingle","Home", new {ad = @Url.FriendlyURLTitle(item.users.name), soyad = @Url.FriendlyURLTitle(item.users.surname), id = @item.users.userId})"><span class="flaticon-calendar pr10"></span>@String.Format("{0:d  MMMM dddd}", @item.releaseDate)</a></li>
                                    </ul>
                                    <a class="fp_pdate float-right text-thm" href="@Url.Action("BlogSingle","Home", new { baslik = @Url.FriendlyURLTitle(@item.postTitle), id = @item.postId})">Daha fazla <span class="flaticon-next"></span></a>
                                </div>
                            </div>
                        </div>

                    }
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mbp_pagination mt20">
                                <ul class="page_navigation">
                                    @Html.PagedListPager(Model.Item1, page => Url.Action("Blog", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4">
                <div class="sidebar_search_widget">
                    <div class="blog_search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Here" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><span class="flaticon-magnifying-glass"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_feature_listing">
                    <h4 class="title">Son İlanlar</h4>
                    @foreach (var item in Model.Item2)
                    {
                        <div class="media">
                            @foreach (var item2 in Model.Item3.Where(w => w.productId == item.productId).Take(1))
                            {
                                <a href="@Url.Action("ListingSingle","Home", new {category = @Url.FriendlyURLTitle(item.categories.categoryName), baslik = @Url.FriendlyURLTitle(@item.productName), id = @item.productId})"><img class="align-self-start mr-3" style="height:80px;width:90px;border-radius:10px 10px" src="~/Content/uploads/images/@item2.imageSource" alt="@item.productName"></a>
                            }
                            <div class="media-body">
                                <a href="@Url.Action("ListingSingle","Home", new {category = @Url.FriendlyURLTitle(item.categories.categoryName), baslik = @Url.FriendlyURLTitle(@item.productName), id = @item.productId})"><h5 class="mt-0 post_title">@item.productName</h5></a>
                                <a href="@Url.Action("ListingSingle","Home", new {category = @Url.FriendlyURLTitle(item.categories.categoryName), baslik = @Url.FriendlyURLTitle(@item.productName), id = @item.productId})">@item.price<small>/TL</small></a>
                                <ul class="mb0">
                                    <li class="list-inline-item"><strong>@item.counties.provinces.provinceName</strong></li>
                                    <li class="list-inline-item">@item.categories.categoryName</li>
                                    <li class="list-inline-item"><strong>@item.type</strong></li>
                                </ul>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>



